### Model Building Starter

Below are all the relevant dataframes

Only thing that remains to be done is aggregate for when there are multiple observations for a single trap/day/species  


`df_w` include all the aggregated weather  
`df_a` includes weather and park/water data (note park/water data are svd features  
`df_s` includes all the spray data (so only years 2011/13) with categorically encoded "spray before" and "spray after" Variables  


No train/test splits have been done, but what we discussed was as standard train/test split for the spray data, and 4-fold CV for the other data, split by year (there is a 'yr' column in the dfs)

In [120]:
import pickle

with open('allDF.pickle','rb') as f:
    allDF = pickle.load(f)
    
df_w = allDF[0]
df_a = allDF[1]
df_s = allDF[2]

In [91]:
df_w.head()

,NumMosquitos,WnvPresent,Date,Trap,Yr,Mo,Week,Location,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,...,StnPressureamin,StnPressuremean,AvgSpeedamax,AvgSpeedamin,AvgSpeedmean,temp_max,temp_min,temp_avg,precip_total,precip_avg
0,1,0,2007-05-29,T048,2007,5,22,"(-87.654224, 41.867108)",0,1,...,29.13,29.384,17.3,5.3,10.013333,89,42,64.466667,1.662,0.1108
1,2,0,2007-05-29,T048,2007,5,22,"(-87.654224, 41.867108)",0,0,...,29.13,29.384,17.3,5.3,10.013333,89,42,64.466667,1.662,0.1108
2,1,0,2007-05-29,T091,2007,5,22,"(-87.64886, 41.862292)",0,0,...,29.13,29.384,17.3,5.3,10.013333,89,42,64.466667,1.662,0.1108
3,1,0,2007-05-29,T049,2007,5,22,"(-87.655232, 41.896282)",0,0,...,29.13,29.384,17.3,5.3,10.013333,89,42,64.466667,1.662,0.1108
4,1,0,2007-05-29,T153,2007,5,22,"(-87.760886, 41.907645)",0,0,...,29.13,29.384,17.3,5.3,10.013333,89,42,64.466667,1.662,0.1108

In [92]:
df_w.columns

Index(['NumMosquitos', 'WnvPresent', 'Date', 'Trap', 'Yr', 'Mo', 'Week',
       'Location', 'CULEX PIPIENS', 'CULEX PIPIENS/RESTUANS', 'CULEX RESTUANS',
       'CULEX SALINARIUS', 'CULEX TERRITANS', 'CULEX TARSALIS',
       'CULEX ERRATICUS', 'DewPointamax', 'DewPointamin', 'DewPointmean',
       'StnPressureamax', 'StnPressureamin', 'StnPressuremean', 'AvgSpeedamax',
       'AvgSpeedamin', 'AvgSpeedmean', 'temp_max', 'temp_min', 'temp_avg',
       'precip_total', 'precip_avg'],
      dtype='object')

In [117]:
df = df_a
df.head()

,NumMosquitos,WnvPresent,Date,Trap,Yr,Mo,Week,Location,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,...,Park2,Park3,Park4,Park5,Water0,Water1,Water2,Water3,Water4,Water5
0,1,0,2007-05-29,T048,2007,5,22,"(-87.654224, 41.867108)",0,1,...,29715.14289,67489.311127,61468.115233,3092.465154,3.82796,0.108809,-1.189728,-0.10479,0.184891,0.114866
1,2,0,2007-05-29,T048,2007,5,22,"(-87.654224, 41.867108)",0,0,...,29715.14289,67489.311127,61468.115233,3092.465154,3.82796,0.108809,-1.189728,-0.10479,0.184891,0.114866
25,2,0,2007-06-05,T048,2007,6,23,"(-87.654224, 41.867108)",1,0,...,29715.14289,67489.311127,61468.115233,3092.465154,3.82796,0.108809,-1.189728,-0.10479,0.184891,0.114866
26,1,0,2007-06-05,T048,2007,6,23,"(-87.654224, 41.867108)",0,1,...,29715.14289,67489.311127,61468.115233,3092.465154,3.82796,0.108809,-1.189728,-0.10479,0.184891,0.114866
27,1,0,2007-06-05,T048,2007,6,23,"(-87.654224, 41.867108)",0,0,...,29715.14289,67489.311127,61468.115233,3092.465154,3.82796,0.108809,-1.189728,-0.10479,0.184891,0.114866

In [115]:
df_a.columns

Index(['NumMosquitos', 'WnvPresent', 'Date', 'Trap', 'Yr', 'Mo', 'Week',
       'Location', 'CULEX PIPIENS', 'CULEX PIPIENS/RESTUANS', 'CULEX RESTUANS',
       'CULEX SALINARIUS', 'CULEX TERRITANS', 'CULEX TARSALIS',
       'CULEX ERRATICUS', 'DewPointamax', 'DewPointamin', 'DewPointmean',
       'StnPressureamax', 'StnPressureamin', 'StnPressuremean', 'AvgSpeedamax',
       'AvgSpeedamin', 'AvgSpeedmean', 'temp_max', 'temp_min', 'temp_avg',
       'precip_total', 'precip_avg', 'Park0', 'Park1', 'Park2', 'Park3',
       'Park4', 'Park5', 'Water0', 'Water1', 'Water2', 'Water3', 'Water4',
       'Water5'],
      dtype='object')

In [121]:
test = df[df['Yr']==2009]
train = df[df['Yr']!= 2009]

y_train = train['WnvPresent']
y_test = test['WnvPresent']

toDrop = ['Date','WnvPresent','Location','NumMosquitos', 'Trap','Species','Latitude','Longitude','Yr','Mo','Week']#'Date_end','Species',]
X_train = train.drop(toDrop, axis = 'columns')
#X_train = X_train.iloc[:,4:] # dropping species, trap, date
X_test = test.drop(toDrop, axis = 'columns')
#X_test = X_test.iloc[:,4:] # dropping species, trap, date

ValueError: labels ['Species' 'Latitude' 'Longitude'] not contained in axis

In [96]:
X_train.head(2)

,Week,DewPointamax,DewPointamin,DewPointmean,StnPressureamax,StnPressureamin,StnPressuremean,AvgSpeedamax,AvgSpeedamin,AvgSpeedmean,...,Park2,Park3,Park4,Park5,Water0,Water1,Water2,Water3,Water4,Water5
2783,22,71,23,50.74477,29.79,28.59,29.267364,21.5,2.7,8.840586,...,7622.901305,19319.121116,6090.6478,57976.436337,5.445062,-2.208052,0.66556,-0.069287,0.060115,-0.061254
2869,23,53,41,47.00000,29.36,29.09,29.204000,11.1,4.6,7.480000,...,7622.901305,19319.121116,6090.6478,57976.436337,5.445062,-2.208052,0.66556,-0.069287,0.060115,-0.061254

In [107]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, BaggingClassifier, AdaBoostClassifier
from sklearn.metrics import confusion_matrix, roc_auc_score
gb = GradientBoostingClassifier()
rf = RandomForestClassifier()
bg = BaggingClassifier()
ad = AdaBoostClassifier()

rf.fit(X_train, y_train)
rf.score(X_test,y_test)
predProb = rf.predict_proba(X_test)
roc_auc_score(y_test, predProb[:,1])

0.57861425716189208

In [108]:
gb.fit(X_train, y_train)
gb.score(X_test,y_test)
predProb = gb.predict_proba(X_test)
roc_auc_score(y_test, predProb[:,1])

0.73144292693759727

In [109]:
bg.fit(X_train, y_train)
bg.score(X_test,y_test)
predProb = bg.predict_proba(X_test)
roc_auc_score(y_test, predProb[:,1])

0.74916722185209861

In [110]:
ad.fit(X_train, y_train)
ad.score(X_test,y_test)
predProb = ad.predict_proba(X_test)
roc_auc_score(y_test, predProb[:,1])

0.80401954252720409

In [111]:
from sklearn.neighbors import KNeighborsClassifier
kn = KNeighborsClassifier()
kn.fit(X_train, y_train)
preProb = kn.predict_proba(X_test)
roc_auc_score(y_test, predProb[:,1])

0.80401954252720409

In [112]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train, y_train)
predProb = lr.predict_proba(X_test)
roc_auc_score(y_test, predProb[:,1])

0.64504219409282693