### Model Building Starter

Below are all the relevant dataframes

Only thing that remains to be done is aggregate for when there are multiple observations for a single trap/day/species  


`df_w` include all the aggregated weather  
`df_a` includes weather and park/water data (note park/water data are svd features  
`df_s` includes all the spray data (so only years 2011/13) with categorically encoded "spray before" and "spray after" Variables  


No train/test splits have been done, but what we discussed was as standard train/test split for the spray data, and 4-fold CV for the other data, split by year (there is a 'yr' column in the dfs)

In [16]:
import pickle

with open('allDF.pickle','rb') as f:
    allDF = pickle.load(f)
    
df_w = allDF[0]
df_a = allDF[1]
df_s = allDF[2]

In [17]:
df_w.head()

,NumMosquitos,WnvPresent,Date,Species,Trap,Location,Yr,Week,Date_end,DewPointamax,...,StnPressureamin,StnPressuremean,AvgSpeedamax,AvgSpeedamin,AvgSpeedmean,temp_max,temp_min,temp_avg,precip_total,precip_avg
0,1,0,2007-05-29,CULEX PIPIENS,T096,"(-87.677512, 41.731922)",2007,22,2007-05-29,58,...,29.13,29.384,17.3,5.3,10.013333,89,42,64.466667,1.662,0.1108
1,5,0,2007-05-29,CULEX RESTUANS,T096,"(-87.677512, 41.731922)",2007,22,2007-05-29,58,...,29.13,29.384,17.3,5.3,10.013333,89,42,64.466667,1.662,0.1108
2,1,0,2007-05-29,CULEX PIPIENS/RESTUANS,T002,"(-87.800991, 41.95469)",2007,22,2007-05-29,58,...,29.13,29.384,17.3,5.3,10.013333,89,42,64.466667,1.662,0.1108
3,1,0,2007-05-29,CULEX RESTUANS,T002,"(-87.800991, 41.95469)",2007,22,2007-05-29,58,...,29.13,29.384,17.3,5.3,10.013333,89,42,64.466667,1.662,0.1108
4,1,0,2007-05-29,CULEX PIPIENS/RESTUANS,T015,"(-87.824812, 41.974089)",2007,22,2007-05-29,58,...,29.13,29.384,17.3,5.3,10.013333,89,42,64.466667,1.662,0.1108

In [18]:
df = df_a
df.head()

,NumMosquitos,WnvPresent,Date,Species,Trap,Location,Yr,Week,Date_end,DewPointamax,...,Park2,Park3,Park4,Park5,Water0,Water1,Water2,Water3,Water4,Water5
0,1,0,2007-05-29,CULEX PIPIENS,T096,"(-87.677512, 41.731922)",2007,22,2007-05-29,58,...,240477.537402,7430.149497,51912.786462,1223.526854,4.17266,1.986478,0.127574,-0.333919,-0.118144,-0.025284
1,5,0,2007-05-29,CULEX RESTUANS,T096,"(-87.677512, 41.731922)",2007,22,2007-05-29,58,...,240477.537402,7430.149497,51912.786462,1223.526854,4.17266,1.986478,0.127574,-0.333919,-0.118144,-0.025284
34,1,0,2007-06-05,CULEX PIPIENS,T096,"(-87.677512, 41.731922)",2007,23,2007-06-05,63,...,240477.537402,7430.149497,51912.786462,1223.526854,4.17266,1.986478,0.127574,-0.333919,-0.118144,-0.025284
35,1,0,2007-06-05,CULEX PIPIENS/RESTUANS,T096,"(-87.677512, 41.731922)",2007,23,2007-06-05,63,...,240477.537402,7430.149497,51912.786462,1223.526854,4.17266,1.986478,0.127574,-0.333919,-0.118144,-0.025284
36,1,0,2007-06-05,CULEX RESTUANS,T096,"(-87.677512, 41.731922)",2007,23,2007-06-05,63,...,240477.537402,7430.149497,51912.786462,1223.526854,4.17266,1.986478,0.127574,-0.333919,-0.118144,-0.025284

In [19]:
train = df[df['Yr']==2009]
test = df[df['Yr']!= 2009]

y_train = train['WnvPresent']
y_test = test['WnvPresent']

toDrop = ['Date_end','WnvPresent','Location','NumMosquitos']
X_train = train.drop(toDrop, axis = 'columns')
X_train = X_train.iloc[:,3:] # dropping species, trap, date
X_test = test.drop(toDrop, axis = 'columns')
X_test = X_test.iloc[:,3:] # dropping species, trap, date

In [20]:
X_train.head(2)

,Yr,Week,DewPointamax,DewPointamin,DewPointmean,StnPressureamax,StnPressureamin,StnPressuremean,AvgSpeedamax,AvgSpeedamin,...,Park2,Park3,Park4,Park5,Water0,Water1,Water2,Water3,Water4,Water5
2783,2009,22,71,23,50.74477,29.79,28.59,29.267364,21.5,2.7,...,7622.901305,19319.121116,6090.6478,57976.436337,5.445062,-2.208052,0.66556,-0.069287,0.060115,-0.061254
2869,2009,23,53,41,47.00000,29.36,29.09,29.204000,11.1,4.6,...,7622.901305,19319.121116,6090.6478,57976.436337,5.445062,-2.208052,0.66556,-0.069287,0.060115,-0.061254

In [21]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
rf.score(X_test,y_test)
preds = rf.predict(X_test)
confusion_matrix(y_test, preds)

array([[6122,    0],
       [ 438,    0]], dtype=int64)