In [18]:
import pickle
import pandas as pd
#data = [df,spray,(weather_st1, weather_st2)]

with open('cleanData.pickle', 'rb') as f:
    data = pickle.load(f)

weather_st1, weather_st2 = data[2]
spray = data[1]

In [19]:
spray.loc[1030]

Date                                     NaT
Latitude                             41.9871
Longitude                           -87.7943
Yr                                       NaN
Mo                                       NaN
Day                                      NaN
Hour                                     NaN
Location     (-87.7942861931, 41.9870919625)
Name: 1030, dtype: object

In [4]:
spray.head()

,Date,Latitude,Longitude,Yr,Mo,Day,Hour,Location
0,2011-08-29 18:56:58,42.391623,-88.089163,2011.0,8.0,29.0,18.933333,"(-88.0891633333, 42.3916233333)"
1,2011-08-29 18:57:08,42.391348,-88.089163,2011.0,8.0,29.0,18.950000,"(-88.0891633333, 42.3913483333)"
2,2011-08-29 18:57:18,42.391022,-88.089157,2011.0,8.0,29.0,18.950000,"(-88.0891566667, 42.3910216667)"
3,2011-08-29 18:57:28,42.390637,-88.089158,2011.0,8.0,29.0,18.950000,"(-88.0891583333, 42.3906366667)"
4,2011-08-29 18:57:38,42.390410,-88.088858,2011.0,8.0,29.0,18.950000,"(-88.0888583333, 42.39041)"

In [11]:
spray['Date'].dt.date.unique()

array([datetime.date(2011, 8, 29), datetime.date(2011, 9, 7), nan,
       datetime.date(2013, 7, 17), datetime.date(2013, 7, 25),
       datetime.date(2013, 8, 8), datetime.date(2013, 8, 15),
       datetime.date(2013, 8, 16), datetime.date(2013, 8, 22),
       datetime.date(2013, 8, 29), datetime.date(2013, 9, 5)], dtype=object)

In [9]:
spray[spray['Date'].isnull()]

,Date,Latitude,Longitude,Yr,Mo,Day,Hour,Location
1030,NaT,41.987092,-87.794286,NaN,NaN,NaN,NaN,"(-87.7942861931, 41.9870919625)"
1031,NaT,41.987620,-87.794382,NaN,NaN,NaN,NaN,"(-87.7943821976, 41.9876199874)"
1032,NaT,41.988004,-87.794574,NaN,NaN,NaN,NaN,"(-87.7945742067, 41.9880040056)"
1033,NaT,41.988292,-87.795486,NaN,NaN,NaN,NaN,"(-87.7954862498, 41.9882920192)"
1034,NaT,41.988100,-87.796014,NaN,NaN,NaN,NaN,"(-87.7960142747, 41.9881000101)"
1035,NaT,41.986372,-87.794862,NaN,NaN,NaN,NaN,"(-87.7948622203, 41.9863719284)"
1036,NaT,41.986228,-87.795582,NaN,NaN,NaN,NaN,"(-87.7955822543, 41.9862279216)"
1037,NaT,41.984836,-87.793998,NaN,NaN,NaN,NaN,"(-87.7939981795, 41.9848358558)"
1038,NaT,41.984836,-87.794670,NaN,NaN,NaN,NaN,"(-87.7946702112, 41.9848358558)"
1039,NaT,41.984884,-87.795198,NaN,NaN,NaN,NaN,"(-87.7951982362, 41.9848838581)"
1040,NaT,41.982820,-87.793182,NaN,NaN,NaN,NaN,"(-87.7931821409, 41.9828197606)"
1041,NaT,41.982772,-87.793950,NaN,NaN,NaN,NaN,"(-87.7939501772, 41.9827717583)"
1042,NaT,41.982772,-87.795006,NaN,NaN,NaN,NaN,"(-87.7950062271, 41.9827717583)"
1043,NaT,41.983444,-87.795246,NaN,NaN,NaN,NaN,"(-87.7952462384, 41.9834437901)"
1044,NaT,41.984068,-87.795438,NaN,NaN,NaN,NaN,"(-87.7954382475, 41.9840678196)"
1045,NaT,41.984596,-87.795534,NaN,NaN,NaN,NaN,"(-87.7955342521, 41.9845958445)"
1046,NaT,41.984980,-87.795630,NaN,NaN,NaN,NaN,"(-87.7956302566, 41.9849798627)"
1047,NaT,41.986708,-87.796110,NaN,NaN,NaN,NaN,"(-87.7961102793, 41.9867079443)"
1048,NaT,41.987524,-87.796302,NaN,NaN,NaN,NaN,"(-87.7963022884, 41.9875239829)"
1049,NaT,41.988820,-87.796638,NaN,NaN,NaN,NaN,"(-87.7966383042, 41.9888200441)"
1050,NaT,41.989444,-87.796830,NaN,NaN,NaN,NaN,"(-87.7968303133, 41.9894440736)"
1051,NaT,41.990068,-87.796974,NaN,NaN,NaN,NaN,"(-87.7969743201, 41.9900681031)"
1052,NaT,41.988244,-87.797022,NaN,NaN,NaN,NaN,"(-87.7970223224, 41.9882440169)"
1053,NaT,41.988196,-87.797742,NaN,NaN,NaN,NaN,"(-87.7977423564, 41.9881960146)"
1054,NaT,41.988196,-87.798366,NaN,NaN,NaN,NaN,"(-87.7983663859, 41.9881960146)"
1055,NaT,41.988196,-87.798942,NaN,NaN,NaN,NaN,"(-87.7989424131, 41.9881960146)"
1056,NaT,41.988196,-87.799422,NaN,NaN,NaN,NaN,"(-87.7994224358, 41.9881960146)"
1057,NaT,41.986372,-87.796494,NaN,NaN,NaN,NaN,"(-87.7964942974, 41.9863719284)"
1058,NaT,41.986372,-87.797310,NaN,NaN,NaN,NaN,"(-87.797310336, 41.9863719284)"
1059,NaT,41.986372,-87.798030,NaN,NaN,NaN,NaN,"(-87.79803037, 41.9863719284)"
...,...,...,...,...,...,...,...,...
1584,NaT,41.992372,-87.816367,NaN,NaN,NaN,NaN,"(-87.8163672366, 41.992372212)"
1585,NaT,41.992468,-87.815839,NaN,NaN,NaN,NaN,"(-87.8158392116, 41.9924682165)"
1586,NaT,41.992516,-87.815311,NaN,NaN,NaN,NaN,"(-87.8153111867, 41.9925162188)"
1587,NaT,41.992564,-87.814735,NaN,NaN,NaN,NaN,"(-87.8147351595, 41.9925642211)"
1588,NaT,41.992612,-87.814303,NaN,NaN,NaN,NaN,"(-87.8143031391, 41.9926122234)"
1589,NaT,41.992612,-87.813775,NaN,NaN,NaN,NaN,"(-87.8137751141, 41.9926122234)"
1590,NaT,41.992612,-87.813343,NaN,NaN,NaN,NaN,"(-87.8133430937, 41.9926122234)"
1591,NaT,41.992660,-87.812767,NaN,NaN,NaN,NaN,"(-87.8127670665, 41.9926602256)"
1592,NaT,41.992660,-87.812191,NaN,NaN,NaN,NaN,"(-87.8121910392, 41.9926602256)"
1593,NaT,41.992612,-87.811663,NaN,NaN,NaN,NaN,"(-87.8116630143, 41.9926122234)"
1594,NaT,41.992660,-87.811279,NaN,NaN,NaN,NaN,"(-87.8112789961, 41.9926602256)"
1595,NaT,41.992660,-87.810847,NaN,NaN,NaN,NaN,"(-87.8108469757, 41.9926602256)"
1596,NaT,41.992612,-87.810415,NaN,NaN,NaN,NaN,"(-87.8104149553, 41.9926122234)"
1597,NaT,41.992660,-87.809455,NaN,NaN,NaN,NaN,"(-87.8094549099, 41.9926602256)"
1598,NaT,41.992660,-87.809983,NaN,NaN,NaN,NaN,"(-87.8099829349, 41.9926602256)"
1599,NaT,41.992708,-87.808927,NaN,NaN,NaN,NaN,"(-87.808926885, 41.9927082279)"
1600,NaT,41.992708,-87.808399,NaN,NaN,NaN,NaN,"(-87.80839886, 41.9927082279)"
1601,NaT,41.992756,-87.807775,NaN,NaN,NaN,NaN,"(-87.8077748305, 41.9927562302)"
1602,NaT,41.992756,-87.807199,NaN,NaN,NaN,NaN,"(-87.8071988033, 41.9927562302)"
1603,NaT,41.996164,-87.813727,NaN,NaN,NaN,NaN,"(-87.8137271118, 41.9961643912)"
1604,NaT,41.995732,-87.813679,NaN,NaN,NaN,NaN,"(-87.8136791096, 41.9957323708)"
1605,NaT,41.994916,-87.813727,NaN,NaN,NaN,NaN,"(-87.8137271118, 41.9949163322)"
1606,NaT,41.992948,-87.813775,NaN,NaN,NaN,NaN,"(-87.8137751141, 41.9929482392)"
1607,NaT,41.996644,-87.811567,NaN,NaN,NaN,NaN,"(-87.8115670097, 41.9966444139)"
1608,NaT,41.996260,-87.811567,NaN,NaN,NaN,NaN,"(-87.8115670097, 41.9962603958)"
1609,NaT,41.995876,-87.811615,NaN,NaN,NaN,NaN,"(-87.811615012, 41.9958763776)"
1610,NaT,41.995972,-87.810271,NaN,NaN,NaN,NaN,"(-87.8102709485, 41.9959723821)"
1611,NaT,41.995684,-87.810319,NaN,NaN,NaN,NaN,"(-87.8103189508, 41.9956843685)"
1612,NaT,41.994724,-87.810415,NaN,NaN,NaN,NaN,"(-87.8104149553, 41.9947243232)"
1613,NaT,41.993092,-87.810415,NaN,NaN,NaN,NaN,"(-87.8104149553, 41.993092246)"