In [12]:
import pandas as pd
import pickle
import numpy as np
import shapefile
from scipy.spatial import cKDTree
from os import listdir
from os.path import isfile, join
from sklearn.decomposition import TruncatedSVD

### DataFrame

In [124]:
df = pd.read_csv('./input/train.csv')

noAgg = [c for c in df.columns if c not in ['NumMosquitos','WnvPresent']]

agg = df.groupby(noAgg)['NumMosquitos', 'WnvPresent'].sum()

for i, c in enumerate(noAgg):
    agg[c] = agg.index.map(lambda x:x[i])

agg.index = range(0,len(agg))

agg['WnvPresent'] = (agg['WnvPresent'].map(lambda x:x>0)).astype(int)

df = agg

def cleanX(xdata):
    species = ['CULEX PIPIENS', 'CULEX PIPIENS/RESTUANS',
                'CULEX RESTUANS', 'CULEX SALINARIUS',
                'CULEX TERRITANS', 'CULEX TARSALIS',
                 'CULEX ERRATICUS']
    
    toDrop = [
        'Address','Block','Street',
              'AddressNumberAndStreet', 'AddressAccuracy',
             ]
    
    toRet = xdata.copy()
    toRet['Date'] = pd.to_datetime(toRet['Date'])
    
    toRet['Yr'] = [t.year for t in toRet['Date']]
    toRet['Mo'] = [t.month for t in toRet['Date']]
    #toRet['Day'] = [t.day for t in toRet['Date']]
    toRet['Week'] = [t.week for t in toRet['Date']]
    
    toRet['Location'] = [(toRet.loc[idx,'Longitude'], toRet.loc[idx,'Latitude'])
                  for idx in toRet.index]
    for s in species:
        toRet[s] = (toRet['Species'] == s).astype(int)
        
    toRet = toRet.drop(toDrop, axis = 'columns')
    
    return toRet

df = cleanX(df)

df.head(2)
df.shape

(8475, 18)

In [118]:
v=df['Trap'].iloc[0]

### Weather

In [14]:
weather = pd.read_csv('./input/weather.csv')

#weather info: years: 2007-2014 months: 5,6,7,8,9,10, 1 observation per day per station

#Station 1: CHICAGO O'HARE INTERNATIONAL AIRPORT Lat: 41.995 Lon: -87.933 Elev: 662 ft. above sea level
#Station 2: CHICAGO MIDWAY INTL ARPT Lat: 41.786 Lon: -87.752 Elev: 612 ft. above sea level


#Convert datatypes
weather['Date'] = pd.to_datetime(weather['Date'])

weather['Yr'] = weather['Date'].dt.year
weather['Mo'] = weather['Date'].dt.month
weather['Day'] = weather['Date'].dt.day

#Drop columns that we are not interested in 
weather = weather.drop({'Depart', 'Depth', 'Water1', 'SnowFall', 'CodeSum', 'Heat', 'Cool'}, axis=1)

#Replace 'M' = missing value with NaN & '  T' with NaN
weather = weather.replace('M', np.nan)
#Replace'  T' with 0.001 
weather = weather.replace('  T', 0.001)
#Replace'  -' with 0000 
weather = weather.replace('-', '0000')

#Convert datatypes
weather['Tavg'] = weather['Tavg'].astype(float)
weather['WetBulb'] = weather['WetBulb'].astype(float)

weather['Sunrise'] = pd.to_datetime(weather['Sunrise'], format="%H%M")

#Fix some data ex: 16:60 --> 1700
weather['Sunset'] = [date if date[-2:] != '60' else str(int(date[0:2])+1)+'00' for date in weather['Sunset']]
weather['Sunset'] = pd.to_datetime(weather['Sunset'], format="%H%M")

weather['PrecipTotal'] = weather['PrecipTotal'].astype(float)
weather['StnPressure'] = weather['StnPressure'].astype(float)
weather['SeaLevel'] = weather['SeaLevel'].astype(float)
weather['ResultSpeed'] = weather['ResultSpeed'].astype(float)
weather['AvgSpeed'] = weather['AvgSpeed'].astype(float)

#Drop null values 
weather.dropna(inplace=True)

## At this point, Weather is in good shape
#Weather from Station 1 
weather_st1 = weather[weather['Station']== 1]

#Weather from Station 2
weather_st2 = weather[weather['Station']== 2]

In [37]:
df.head(2)

,NumMosquitos,WnvPresent,Date,Species,Trap,Latitude,Longitude,Yr,Mo,Week,Location,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TERRITANS,CULEX TARSALIS,CULEX ERRATICUS
0,1,0,2007-05-29,CULEX PIPIENS/RESTUANS,T048,41.867108,-87.654224,2007,5,22,"(-87.654224, 41.867108)",0,1,0,0,0,0,0
1,2,0,2007-05-29,CULEX RESTUANS,T048,41.867108,-87.654224,2007,5,22,"(-87.654224, 41.867108)",0,0,1,0,0,0,0

In [107]:
pd.Series([2,4])

0    2
1    4
dtype: int64

In [ ]:
plt.plot(df['Week'], lr.intercept_ )

In [114]:
df.head()

           Tavg  Week  Week^2
Week
17    60.833333     0       0
18    56.740741     1       1
19    59.625000     2       4
20    60.535714     3       9
21    64.803571     4      16

In [112]:
lr.coef_

array([ 3.28641226, -0.13246797])

In [122]:
weather['Week'] = weather['Date'].dt.week
wtw = weather.groupby('Week')['Tavg'].mean()
df = pd.DataFrame(wtw)

df['Week'] = df.index -17
df['Week^2'] = df['Week']**2

lr = LinearRegression()
lr.fit(df.drop('Tavg', axis = 'columns'), df['Tavg'])
toRet = {}
for w in range(1,53):
    toRet[w] = lr.intercept_ + (lr.coef_[0]*(w-17)) + (lr.coef_[1] * ((w-17)**2))
toRet
atd = toRet

In [153]:

def calculate_agregate( weather_sub, avgTDict):
    toRet = pd.Series()

    allAgg = [np.max, np.min, np.mean]
    toAgg = {'DewPoint': allAgg,
            'StnPressure': allAgg,
            'AvgSpeed': allAgg,
            'Tmax':[np.max],
            'Tmin':[np.min],
            'Tavg':[np.mean],
            'PrecipTotal':[np.sum, np.mean]
            }
    for k in toAgg:
        for f in toAgg[k]:
            toRet.loc[k + str(f).split(' ')[1]] = f(weather_sub[k])

    finalEntry = weather_sub.iloc[len(weather_sub)-1]

    toRet['temp_expected'] = avgTDict[pd.to_datetime(finalEntry['Date']).week]
    toRet['temp_diff'] = toRet['Tavgmean'] - toRet['temp_expected']

    sunset = finalEntry['Sunset']
    toRet['sunset'] = sunset.hour + (sunset.minute / 60)

    return toRet

def date_ranges(dates):
    uniqueYears = set([pd.to_datetime(d).year for d in dates])

    dates = sorted(dates)
    fyear = []
    for y in uniqueYears:
        for d in dates:
            if pd.to_datetime(d).year == y:
                fyear.append(d)
                break

    for d in fyear:
        dates = np.insert(dates, 0, d - pd.Timedelta(days = 8))

    dateRanges = []
    for i in range(len(dates)-1):
        if pd.to_datetime(dates[i]).year == pd.to_datetime(dates[i+1]).year:
            dateRanges.append( (dates[i], dates[i+1]) )

    return dateRanges

def subset_weather(dateRange, weather):
    mask = (weather['Date']>dateRange[0]) & (weather['Date'] <= dateRange[1])
    return weather.loc[mask]

def TWeatherDFMaker(dct):
    toRet = pd.DataFrame().from_dict(dct)
    toRet = toRet.transpose()
    toRet.index = [idx for idx in toRet.index]
    toRet['Trap'] = toRet.index.map(lambda x: x[0])
    toRet['Date'] = toRet.index.map(lambda x: x[1])
    toRet.index = range(len(toRet))

    return toRet

def trap_agregator(trap_df, weather, avgTDict):
    trapWeather = {}
    trap = trap_df['Trap'].iloc[0]

    dates = trap_df['Date'].unique()
    dates = sorted(dates)

    dateRanges = date_ranges(dates)

    for dr in dateRanges:
        weather_sub = subset_weather(dr, weather)
        trapWeather[(trap, dr[1])] = calculate_agregate(weather_sub, avgTDict)
    toRet = pd.DataFrame().from_dict(trapWeather)

    return TWeatherDFMaker(trapWeather)

In [154]:
tr = trap_agregator(t48, weather_st1, atd)

In [157]:
pd.concat([tr,tr],axis = 'rows')

,DewPointamax,DewPointamin,DewPointmean,StnPressureamax,StnPressureamin,StnPressuremean,AvgSpeedamax,AvgSpeedamin,AvgSpeedmean,Tmaxamax,Tminamin,Tavgmean,PrecipTotalsum,PrecipTotalmean,temp_expected,temp_diff,sunset,Trap,Date
0,63.0,48.0,58.714286,29.31,28.82,29.078571,10.6,6.4,8.328571,87.0,47.0,69.571429,1.060,0.151429,69.964018,-0.392590,19.383333,T048,2007-06-05
1,69.0,47.0,56.142857,29.44,28.84,29.275714,23.1,4.9,9.171429,93.0,44.0,72.952381,1.092,0.052000,73.862196,-0.909815,19.516667,T048,2007-06-26
2,70.0,46.0,54.666667,29.51,29.29,29.420000,12.5,5.8,8.683333,91.0,53.0,68.000000,0.150,0.025000,74.631717,-6.631717,19.516667,T048,2007-07-02
3,67.0,51.0,61.444444,29.32,29.05,29.186667,13.1,5.5,9.000000,94.0,60.0,77.555556,1.290,0.143333,75.136302,2.419253,19.466667,T048,2007-07-11
4,68.0,51.0,57.857143,29.26,29.08,29.184286,13.2,4.9,8.042857,85.0,58.0,72.857143,2.050,0.292857,75.375951,-2.518808,19.400000,T048,2007-07-18
5,68.0,52.0,58.888889,29.51,29.11,29.325556,11.9,3.3,7.200000,85.0,58.0,72.444444,0.521,0.057889,75.350664,-2.906220,19.283333,T048,2007-07-27
6,65.0,55.0,60.000000,29.33,29.23,29.292000,10.2,4.1,5.840000,92.0,62.0,76.800000,0.000,0.000000,75.060441,1.739559,19.183333,T048,2007-08-01
7,73.0,56.0,66.000000,29.31,29.06,29.191667,9.6,4.9,6.866667,91.0,64.0,79.166667,3.030,0.505000,74.505282,4.661384,19.066667,T048,2007-08-07
8,71.0,57.0,66.625000,29.39,29.13,29.245000,8.0,3.9,6.100000,89.0,65.0,77.000000,1.040,0.130000,73.685188,3.314812,18.900000,T048,2007-08-15
9,70.0,54.0,62.000000,29.44,29.15,29.288333,8.1,5.7,6.616667,87.0,59.0,70.166667,2.331,0.388500,72.600157,-2.433490,18.750000,T048,2007-08-21
10,71.0,67.0,69.000000,29.23,29.11,29.163333,11.7,7.1,9.433333,90.0,69.0,77.666667,2.960,0.986667,72.600157,5.066510,18.666667,T048,2007-08-24
11,68.0,42.0,58.210526,29.49,29.15,29.327895,13.9,4.3,7.842105,91.0,46.0,71.263158,1.073,0.056474,67.755449,3.507709,18.150000,T048,2007-09-12
12,58.0,33.0,44.000000,29.56,29.23,29.390000,13.4,5.9,10.066667,88.0,39.0,61.666667,0.000,0.000000,65.610674,-3.944008,17.933333,T048,2007-09-18
13,63.0,43.0,55.500000,29.43,29.18,29.350000,12.4,5.3,8.783333,90.0,50.0,71.500000,0.000,0.000000,63.200964,8.299036,17.766667,T048,2007-09-24
14,65.0,46.0,52.700000,29.50,29.18,29.321000,14.6,4.6,8.600000,85.0,49.0,66.000000,0.881,0.088100,60.526318,5.473682,17.483333,T048,2007-10-04
15,44.0,37.0,40.000000,29.42,29.18,29.303333,10.7,5.9,7.766667,79.0,42.0,56.333333,0.000,0.000000,69.964018,-13.630685,19.383333,T048,2009-06-05
16,60.0,45.0,51.428571,29.24,29.06,29.161429,10.3,5.8,7.842857,80.0,49.0,61.285714,0.532,0.076000,71.528347,-10.242633,19.450000,T048,2009-06-12
17,67.0,48.0,54.833333,29.29,28.97,29.188333,11.8,4.7,7.900000,86.0,51.0,66.500000,5.530,0.921667,72.827740,-6.327740,19.500000,T048,2009-06-19
18,67.0,63.0,65.000000,29.12,29.08,29.096667,8.6,3.9,6.033333,89.0,68.0,78.000000,0.100,0.033333,73.862196,4.137804,19.516667,T048,2009-06-22
19,69.0,68.0,68.666667,29.16,29.08,29.133333,5.8,3.5,4.733333,94.0,71.0,84.333333,0.041,0.013667,73.862196,10.471137,19.516667,T048,2009-06-26
20,61.0,52.0,55.300000,29.36,28.89,29.123000,13.6,2.4,7.960000,89.0,57.0,68.800000,0.551,0.055100,75.136302,-6.336302,19.500000,T048,2009-07-06
21,64.0,54.0,57.750000,29.35,29.18,29.287500,7.0,4.9,6.450000,82.0,59.0,68.250000,0.141,0.035250,75.136302,-6.886302,19.483333,T048,2009-07-10
22,62.0,46.0,53.714286,29.36,29.15,29.270000,12.4,5.7,8.571429,85.0,55.0,70.428571,0.931,0.133000,75.375951,-4.947380,19.416667,T048,2009-07-17
23,61.0,52.0,56.285714,29.39,29.08,29.265714,9.8,4.0,6.185714,83.0,55.0,68.428571,0.181,0.025857,75.350664,-6.922093,19.316667,T048,2009-07-24
24,61.0,51.0,56.714286,29.39,29.02,29.186429,12.4,4.2,8.164286,85.0,57.0,71.785714,0.433,0.030929,74.505282,-2.719568,19.066667,T048,2009-08-07
25,71.0,55.0,62.833333,29.39,29.20,29.290000,13.6,3.8,8.566667,91.0,60.0,76.333333,0.200,0.033333,73.685188,2.648146,18.933333,T048,2009-08-13
26,68.0,52.0,59.583333,29.41,28.93,29.253333,12.5,5.1,8.391667,89.0,54.0,71.500000,1.540,0.128333,71.250190,0.249810,18.650000,T048,2009-08-25
27,62.0,44.0,52.888889,29.57,29.18,29.396667,11.8,3.4,7.200000,75.0,47.0,62.777778,2.120,0.235556,69.635287,-6.857510,18.400000,T048,2009-09-03
28,63.0,54.0,58.300000,29.49,29.34,29.424000,7.3,2.1,5.120000,84.0,54.0,69.400000,0.030,0.003000,65.610674,3.789326,18.083333,T048,2009-09-14
29,59.0,52.0,55.000000,29.49,29.36,29.433333,11.4,4.2,7.800000,82.0,50.0,66.333333,0.000,0.000000,65.610674,0.722659,17.966667,T048,2009-09-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,70.0,53.0,60.230769,29.35,28.89,29.104615,13.4,4.6,8.784615,89.0,57.0,70.923077,0.691,0.053154,73.862196,-2.939119,19.516667,T048,2011-06-30
33,71.0,51.0,60.545455,29.28,29.12,29.222727,14.9,4.3,7.581818,94.0,61.0,78.363636,0.393,0.035727,75.136302,3.227334,19.466667,T048,2011-07-11
34,63.0,56.0,59.000000,29.35,29.25,29.292500,10.9,6.7,8.325000,87.0,59.0,74.500000,0.011,0.002750,75.136302,-0.636302,19.433333,T048,2011-07-15
35,75.0,61.0,69.600000,29.35,29.08,29.212000,10.8,4.3,7.440000,99.0,69.0,82.600000,8.641,0.864100,75.350664,7.249336,19.300000,T048,2011-07-25
36,71.0,63.0,66.750000,29.28,29.13,29.197500,9.5,5.9,7.675000,90.0,68.0,78.750000,2.110,0.527500,75.350664,3.399336,19.250000,T048,2011-07-29
37,73.0,64.0,68.428571,29.35,29.04,29.227143,9.1,3.4,5.985714,93.0,67.0,79.571429,0.431,0.061571,75.060441,4.510987,19.116667,T048,2011-08-05
38,70.0,54.0,62.000000,29.25,28.97,29.101429,11.1,3.0,6.842857,86.0,57.0,73.000000,1.560,0.222857,74.505282,-1.505282,18.966667,T048,2011-08-12
39,64.0,55.0,60.428571,29.32,29.15,29.244286,11.7,3.9,6.228571,87.0,57.0,72.857143,0.751,0.107286,73.685188,-0.828045,18.800000,T048,2011-08-19
40,67.0,58.0,61.285714,29.30,28.99,29.198571,10.7,3.3,6.728571,92.0,59.0,72.857143,1.761,0.251571,72.600157,0.256986,18.616667,T048,2011-08-26
41,71.0,56.0,61.000000,29.33,29.20,29.250000,9.2,3.5,6.850000,93.0,59.0,73.000000,0.041,0.006833,71.250190,1.749810,18.450000,T048,2011-09-01
42,69.0,45.0,56.500000,29.44,29.16,29.280000,14.8,3.1,8.860000,92.0,51.0,68.600000,0.040,0.004000,67.755449,0.844551,18.150000,T048,2011-09-12
43,54.0,35.0,43.000000,29.61,29.20,29.447500,8.7,3.3,6.950000,73.0,42.0,55.250000,0.080,0.020000,67.755449,-12.505449,18.000000,T048,2011-09-16
44,58.0,44.0,49.666667,29.53,29.23,29.338333,11.0,5.8,8.183333,71.0,48.0,59.666667,0.671,0.111833,65.610674,-5.944008,17.800000,T048,2011-09-23
45,54.0,41.0,50.285714,29.32,28.92,29.097143,15.4,4.6,9.900000,66.0,45.0,56.857143,2.660,0.380000,63.200964,-6.343821,17.583333,T048,2011-09-30
46,64.0,43.0,56.000000,29.34,29.00,29.168571,12.2,4.3,7.314286,86.0,49.0,68.285714,1.021,0.145857,71.528347,-3.242633,19.466667,T048,2013-06-14
47,65.0,46.0,57.142857,29.39,29.16,29.281429,11.6,5.9,8.414286,88.0,53.0,70.714286,0.990,0.141429,72.827740,-2.113454,19.500000,T048,2013-06-21
48,69.0,67.0,67.500000,29.30,29.01,29.166667,11.5,6.9,8.566667,90.0,64.0,75.833333,3.490,0.581667,73.862196,1.971137,19.516667,T048,2013-06-27
49,71.0,51.0,60.000000,29.34,28.91,29.227273,13.9,4.5,8.681818,88.0,56.0,71.272727,0.522,0.047455,75.136302,-3.863575,19.483333,T048,2013-07-08
50,74.0,53.0,61.500000,29.38,29.19,29.282500,8.3,4.8,6.950000,85.0,58.0,74.750000,0.001,0.000250,75.136302,-0.386302,19.466667,T048,2013-07-12
51,72.0,59.0,68.857143,29.54,29.10,29.408571,14.0,5.1,8.000000,96.0,62.0,81.571429,0.671,0.095857,75.375951,6.195478,19.383333,T048,2013-07-19
52,66.0,51.0,60.000000,29.33,29.07,29.201667,11.0,5.1,7.633333,89.0,57.0,73.833333,0.101,0.016833,75.350664,-1.517331,19.300000,T048,2013-07-25
53,64.0,50.0,56.714286,29.41,29.17,29.271429,10.6,4.4,7.442857,81.0,54.0,65.857143,0.931,0.133000,75.060441,-9.203298,19.183333,T048,2013-08-01
54,68.0,55.0,60.714286,29.42,29.13,29.237143,9.9,6.8,8.228571,89.0,58.0,72.285714,0.742,0.106000,74.505282,-2.219568,19.050000,T048,2013-08-08
55,65.0,50.0,56.000000,29.44,29.21,29.340000,9.6,4.9,6.880000,82.0,55.0,67.800000,0.271,0.054200,73.685188,-5.885188,18.900000,T048,2013-08-15
56,67.0,52.0,59.857143,29.47,29.30,29.380000,9.0,4.8,6.528571,90.0,55.0,72.571429,0.240,0.034286,72.600157,-0.028728,18.716667,T048,2013-08-22
57,70.0,55.0,63.857143,29.49,29.18,29.350000,12.0,4.7,8.271429,96.0,60.0,77.857143,0.000,0.000000,71.250190,6.606953,18.533333,T048,2013-08-29
58,68.0,54.0,60.750000,29.49,29.05,29.256250,9.2,5.2,7.237500,96.0,57.0,72.500000,0.571,0.071375,69.635287,2.864713,18.316667,T048,2013-09-06
59,70.0,59.0,64.500000,29.28,29.15,29.238333,12.5,6.9,9.716667,95.0,62.0,78.833333,0.012,0.002000,67.755449,11.077884,18.150000,T048,2013-09-12
60,68.0,43.0,52.285714,29.59,29.14,29.370000,11.5,5.4,8.685714,84.0,47.0,63.571429,2.040,0.291429,65.610674,-2.039246,17.916667,T048,2013-09-19
61,60.0,47.0,50.857143,29.34,29.08,29.245714,11.0,4.2,7.500000,76.0,46.0,60.857143,0.001,0.000143,63.200964,-2.343821,17.700000,T048,2013-09-26

In [148]:
t2 = tr
t2 = t2.transpose()
t2.index = [idx for idx in t2.index]
t2.head()

,DewPointamax,DewPointamin,DewPointmean,StnPressureamax,StnPressureamin,StnPressuremean,AvgSpeedamax,AvgSpeedamin,AvgSpeedmean,Tmaxamax,Tminamin,Tavgmean,PrecipTotalsum,PrecipTotalmean,temp_expected,temp_diff,sunset
"(T048, 2007-06-05 00:00:00)",63.0,48.0,58.714286,29.31,28.82,29.078571,10.6,6.4,8.328571,87.0,47.0,69.571429,1.060,0.151429,69.964018,-0.392590,19.383333
"(T048, 2007-06-26 00:00:00)",69.0,47.0,56.142857,29.44,28.84,29.275714,23.1,4.9,9.171429,93.0,44.0,72.952381,1.092,0.052000,73.862196,-0.909815,19.516667
"(T048, 2007-07-02 00:00:00)",70.0,46.0,54.666667,29.51,29.29,29.420000,12.5,5.8,8.683333,91.0,53.0,68.000000,0.150,0.025000,74.631717,-6.631717,19.516667
"(T048, 2007-07-11 00:00:00)",67.0,51.0,61.444444,29.32,29.05,29.186667,13.1,5.5,9.000000,94.0,60.0,77.555556,1.290,0.143333,75.136302,2.419253,19.466667
"(T048, 2007-07-18 00:00:00)",68.0,51.0,57.857143,29.26,29.08,29.184286,13.2,4.9,8.042857,85.0,58.0,72.857143,2.050,0.292857,75.375951,-2.518808,19.400000

In [127]:
t48= df[df['Trap']=='T048']
t48.head()

,NumMosquitos,WnvPresent,Date,Species,Trap,Latitude,Longitude,Yr,Mo,Week,Location,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TERRITANS,CULEX TARSALIS,CULEX ERRATICUS
0,1,0,2007-05-29,CULEX PIPIENS/RESTUANS,T048,41.867108,-87.654224,2007,5,22,"(-87.654224, 41.867108)",0,1,0,0,0,0,0
1,2,0,2007-05-29,CULEX RESTUANS,T048,41.867108,-87.654224,2007,5,22,"(-87.654224, 41.867108)",0,0,1,0,0,0,0
25,2,0,2007-06-05,CULEX PIPIENS,T048,41.867108,-87.654224,2007,6,23,"(-87.654224, 41.867108)",1,0,0,0,0,0,0
26,1,0,2007-06-05,CULEX PIPIENS/RESTUANS,T048,41.867108,-87.654224,2007,6,23,"(-87.654224, 41.867108)",0,1,0,0,0,0,0
27,1,0,2007-06-05,CULEX RESTUANS,T048,41.867108,-87.654224,2007,6,23,"(-87.654224, 41.867108)",0,0,1,0,0,0,0

In [53]:
from sklearn.linear_model import LinearRegression

def aggWeatherForObs(data, weather):
    agg = []

    weather['Week'] = weather['Date'].dt.week
    wtw = weather.groupby('Week')['Tavg'].mean()
    df = pd.DataFrame(wtw)
    
    df['Week'] = df.index -17
    df['Week^2'] = df['Week']**2
    
    lr = LinearRegression()
    lr.fit(df.drop('Tavg', axis = 'columns'), df['Tavg'])
    
    def weeklyAvgTemp(weeknum, lm):
        wk = weeknum - 17
        
        return lm.intercept_ + (lr.coef_[0]*wk) + (lr.coef_[1]* (wk**2))
    
    def calculate_agregate (trap_df, weather_sub, end_date):

        toRet = pd.Series()

        toRet['Trap'] = trap_df.iloc[0,4] 
        toRet['Date_end'] = pd.to_datetime(end_date)
        
        for c in ['DewPoint', 'StnPressure', 'AvgSpeed']:
            for f in [np.max, np.min, np.mean]:
                toRet.loc[c+str(f).split(' ')[1]] = f(weather_sub[c])

        toRet['temp_max'] = weather_sub['Tmax'].max()
        toRet['temp_min'] = weather_sub['Tmin'].min()
        toRet['temp_avg'] = weather_sub['Tavg'].mean()
        toRet['temp_expected'] = weeklyAvgTemp(pd.to_datetime(toRet['Date_end']).week , lr)
        toRet['temp_diff'] = toRet['temp_avg'] - toRet['temp_expected']
        
        #print(weather_sub['Date'])
        
        try:
            sunset = weather_sub.iloc[len(weather_sub)-1]['Sunset']
        except:
            print('no')
            
        toRet['sunset'] = sunset.hour + (sunset.minute / 60)
        
        toRet['precip_total'] = weather_sub['PrecipTotal'].sum()
        toRet['precip_avg'] = toRet['precip_total'] / len(weather_sub)
        
        return toRet
    
    trapDFs = []
    for trap in data['Trap'].unique():
        trapDFs.append(data[ data['Trap'] == trap ])

    for tDF in trapDFs:

        dates = tDF['Date'].unique()
        dates = sorted(dates)
        
        fyear= {}
        
        for y in [2007, 2009, 2011, 2013]: # needs to be generalized
            for i, d in enumerate(dates):
                if pd.to_datetime(d).year == y:
                    fyear[i] = d
                    break
                           
        for idx in fyear:
            dates = np.insert(dates, 0, fyear[idx] - pd.Timedelta(days = 8))
        dates = sorted(dates)
        
        dateRanges = []
        for i in range(len(dates)-1):
            if pd.to_datetime(dates[i]).year == pd.to_datetime(dates[i+1]).year:
                dateRanges.append( (dates[i] , dates[i+1]) )

        for dr in dateRanges:
            start_date = dr[0]
            end_date = dr[1]

            #Select dataframe rows between two dates in weather
            mask = (weather['Date'] > start_date) & (weather['Date'] <= end_date)
            
            weather_sub = weather.loc[mask]
            
            agg.append( calculate_agregate(tDF, weather_sub, end_date) )
            
    toRet = pd.DataFrame(agg)
    toRet['Date'] = [pd.to_datetime(d) for d in toRet['Date_end']]
    toRet = toRet.drop('Date_end', axis = 'columns')
    return toRet

In [36]:
weatherObs.head()

,Trap,DewPointamax,DewPointamin,DewPointmean,StnPressureamax,StnPressureamin,StnPressuremean,AvgSpeedamax,AvgSpeedamin,AvgSpeedmean,temp_max,temp_min,temp_avg,temp_expected,temp_diff,sunset,precip_total,precip_avg,Date
0,CULEX PIPIENS/RESTUANS,58,44,50.000000,29.51,29.34,29.396250,17.3,5.3,9.575000,89,49,68.375000,67.484959,0.890041,19.283333,1.072,0.134000,2007-05-29
1,CULEX PIPIENS/RESTUANS,63,48,58.714286,29.31,28.82,29.078571,10.6,6.4,8.328571,87,47,69.571429,69.319181,0.252248,19.383333,1.060,0.151429,2007-06-05
2,CULEX PIPIENS/RESTUANS,69,47,56.142857,29.44,28.84,29.275714,23.1,4.9,9.171429,93,44,72.952381,73.228946,-0.276565,19.516667,1.092,0.052000,2007-06-26
3,CULEX PIPIENS/RESTUANS,70,46,54.666667,29.51,29.29,29.420000,12.5,5.8,8.683333,91,53,68.000000,74.001234,-6.001234,19.516667,0.150,0.025000,2007-07-02
4,CULEX PIPIENS/RESTUANS,67,51,61.444444,29.32,29.05,29.186667,13.1,5.5,9.000000,94,60,77.555556,74.508038,3.047517,19.466667,1.290,0.143333,2007-07-11

In [39]:
%%time
weatherObs = aggWeatherForObs(df, weather_st1)
df_w = df.merge( weatherObs, left_on=['Date', 'Trap'],
              right_on=['Date', 'Trap'],
              how='outer')

C:\Users\William\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Wall time: 1min 9s

### Parks/Water

In [56]:
df_w.head(2)

,NumMosquitos,WnvPresent,Date,Species,Trap,Latitude,Longitude,Yr,Mo,Week,...,AvgSpeedamin,AvgSpeedmean,temp_max,temp_min,temp_avg,temp_expected,temp_diff,sunset,precip_total,precip_avg
0,1,0,2007-05-29,CULEX PIPIENS/RESTUANS,T048,41.867108,-87.654224,2007,5,22,...,5.3,9.575,89,49,68.375,67.484959,0.890041,19.283333,1.072,0.134
1,2,0,2007-05-29,CULEX RESTUANS,T048,41.867108,-87.654224,2007,5,22,...,5.3,9.575,89,49,68.375,67.484959,0.890041,19.283333,1.072,0.134

In [311]:
parkDir = './AddData/Parks/'
waterDir = './AddData/Water/'

uniqueLocs = df['Location'].unique()


def buildWaterAndParkDicts(parkDir, waterDir):

    # Park and water shapefile names
    parks = [f for f in listdir(parkDir) if isfile(join(parkDir,f)) if f.count('.csv') ==0]
    water = [f for f in listdir(waterDir) if isfile(join(waterDir,f))if f.count('.csv') ==0]

    parkShape = parkDir + parks[0].split('.')[0]
    waterShape = waterDir + water[0].split('.')[0]

    # Read in shapefiles, then the shapes/records
    psf = shapefile.Reader(parkShape)
    wsf = shapefile.Reader(waterShape)

    parkSR = psf.shapeRecords()
    waterSR = wsf.shapeRecords()

    # Create a parksize dictionary, keyed on parkname
    parkSize = {}
    for s in parkSR:
        parkSize[s.record[4]] = s.record[19]

    # Create cKDTree functions in Dict

    # Key: Identifier (number for water, park name for park)
    # Value: cKDTree function built on all the points associated with water/park feature

    waterFinder={}
    for i, s in enumerate(waterSR):
        waterFinder[i] = cKDTree(s.shape.points)

    parkFinder = {}
    for s in parkSR:
        parkFinder[s.record[4]] = cKDTree(s.shape.points)
    
    return parkSize, parkFinder, waterFinder

def yeildParkSVD(parkSize, parkFinder, uniqueLocs, TruncSVD = 'calc', comps = 4):
    
    parkDist = {}
    
    for l in uniqueLocs:
        parkDist[l] = {}
        for k in parkFinder:
            dist = parkFinder[k].query(l,1)[0]
            size = parkSize[k]
            parkDist[l][k] = (dist, size, size/(dist**2))
    
    parkDF = pd.DataFrame()
    parkDF = parkDF.from_dict(parkDist)
    parkDF = parkDF.transpose()
    parkDF.index = [idx for idx in parkDF.index]
    
    for c in parkDF:
        #print(type(parkDF.iloc[0][c]))
        parkDF[c+' Area'] = [e[1] for e in parkDF[c]]
        parkDF[c+ ' Effect'] = [e[2] for e in parkDF[c]]
        parkDF[c] = [e[0] for e in parkDF[c]]
    
    if TruncSVD == 'calc':
        TruncSVD = TruncatedSVD(n_components = comps)
        TruncSVD.fit(parkDF)
    
    toRet = TruncSVD.transform(parkDF)
    
    toRet = pd.DataFrame(toRet, index = parkDF.index)
    return toRet, TruncSVD

def yeildWaterSVD(waterFinder, uniqueLocs, TruncSVD = 'calc', comps = 4):
    
    waterDist = {}
    
    for l in uniqueLocs:
        waterDist[l] = {}
        for k in waterFinder:
            waterDist[l][k] = waterFinder[k].query(l,1)[0]
    
    waterDF = pd.DataFrame()
    waterDF = waterDF.from_dict(waterDist)
    waterDF = waterDF.transpose()
    waterDF.index = [idx for idx in waterDF.index]
    print(type(waterDF.iloc[0,0])) 
    if TruncSVD == 'calc':
        TruncSVD = TruncatedSVD(n_components = comps)
        TruncSVD.fit(waterDF)
    print(waterDF.shape)
    print(TruncSVD)
    toRet = TruncSVD.transform(waterDF)
    
    toRet = pd.DataFrame(toRet, index = waterDF.index)
    print(toRet.shape)
    return toRet, TruncSVD    

ps, pf, wf = buildWaterAndParkDicts(parkDir, waterDir)
pdf, ptsvd = yeildParkSVD(ps, pf, uniqueLocs, comps = 6)
wdf, wtsvd = yeildWaterSVD(wf, uniqueLocs, comps = 6)
pdf.columns = ['Park'+str(c) for c in pdf.columns]
wdf.columns = ['Water'+str(c) for c in wdf.columns]

<class 'numpy.float64'>
(80, 605)
TruncatedSVD(algorithm='randomized', n_components=6, n_iter=5,
       random_state=None, tol=0.0)
(80, 6)

In [158]:
wdf.head()

,Water0,Water1,Water2,Water3,Water4,Water5
"(-87.930995, 41.957799)",7.452501,-2.415331,2.122308,-0.353222,0.585042,0.305456
"(-87.890615, 41.974689)",6.846056,-2.593422,1.839218,-0.280489,0.525015,0.210701
"(-87.862995, 41.992478000000006)",6.625241,-2.652850,1.583163,-0.151807,0.425006,0.121209
"(-87.832763, 41.944869)",5.744749,-2.252962,1.059791,-0.233730,0.214307,0.021081
"(-87.824812, 41.974089)",5.919241,-2.453215,1.058257,-0.087411,0.206612,-0.006295

In [89]:
a=(1,2)
type(a) == tuple

True

In [77]:
def calculate_distances(loc, finder):
    Dist = {}
    for k in finder:
        Dist[k] = finder[k].query(loc,1)[0]

    return  Dist


def water_info(df, finder):
        uniqueLocs = df['Location'].unique()
        rows = {}
        for loc in uniqueLocs:
            rows[loc] = calculate_distances(loc,finder)
        toRet = pd.DataFrame(rows)
        toRet = toRet.transpose()
        toRet.index = [idx for idx in toRet.index]
        return toRet

In [78]:
tr = water_info(df, wf)
tr.head()

,0,1,2,3,4,5,6,7,8,9,...,595,596,597,598,599,600,601,602,603,604
"(-87.930995, 41.957799)",0.258189,0.273510,0.280411,0.283766,0.291122,0.291177,0.291197,0.291264,0.291516,0.291665,...,0.299097,0.292277,0.292162,0.292374,0.292514,0.292597,0.292728,0.292225,0.280558,0.288188
"(-87.890615, 41.974689)",0.231906,0.246757,0.252666,0.255866,0.262978,0.263047,0.263073,0.263157,0.263437,0.263598,...,0.269351,0.262915,0.262806,0.263074,0.263213,0.263353,0.263483,0.263216,0.252771,0.259516
"(-87.862995, 41.992478000000006)",0.221358,0.235498,0.240353,0.243353,0.250125,0.250207,0.250238,0.250337,0.250640,0.250810,...,0.254836,0.248866,0.248765,0.249085,0.249221,0.249415,0.249542,0.249511,0.240415,0.246194
"(-87.832763, 41.944869)",0.167559,0.182201,0.187844,0.191005,0.198062,0.198133,0.198160,0.198246,0.198531,0.198693,...,0.204270,0.197854,0.197745,0.198017,0.198156,0.198300,0.198429,0.198183,0.187939,0.194524
"(-87.824812, 41.974089)",0.181188,0.194910,0.199303,0.202214,0.208837,0.208923,0.208956,0.209059,0.209371,0.209543,...,0.213020,0.207193,0.207095,0.207429,0.207564,0.207773,0.207900,0.207941,0.199348,0.204757

In [71]:
t2 = tr
t2.index = t2.loc[:,0]
t2.head()

,0,1
0,,
"(-87.654224, 41.867108)","(-87.654224, 41.867108)","{0: 0.05121268778717819, 1: 0.0330911917091205..."
"(-87.64886, 41.862292)","(-87.64886, 41.862292)","{0: 0.054110365187564666, 1: 0.033676484353413..."
"(-87.655232, 41.896282)","(-87.655232, 41.896282)","{0: 0.06918619413580257, 1: 0.0580945279356783..."
"(-87.760886, 41.907645)","(-87.760886, 41.907645)","{0: 0.08898680037921794, 1: 0.102809727825564,..."
"(-87.666455, 41.9216)","(-87.666455, 41.9216)","{0: 0.0851739656124978, 1: 0.07992288387367903..."

In [135]:
wdf.head()

,Water0,Water1,Water2,Water3,Water4,Water5
"(-87.930995, 41.957799)",7.452501,-2.415331,2.122308,-0.353222,0.585042,0.305456
"(-87.890615, 41.974689)",6.846056,-2.593422,1.839218,-0.280489,0.525015,0.210701
"(-87.862995, 41.992478000000006)",6.625241,-2.652850,1.583163,-0.151807,0.425006,0.121209
"(-87.832763, 41.944869)",5.744749,-2.252962,1.059791,-0.233730,0.214307,0.021081
"(-87.824812, 41.974089)",5.919241,-2.453215,1.058257,-0.087411,0.206612,-0.006295

In [42]:
df_a = df_w.merge(pdf, how = 'outer', left_on='Location', right_index=True)
df_a = df_a.merge(wdf, how = 'outer', left_on = 'Location', right_index = True)

In [55]:
df_a.head(2)

,NumMosquitos,WnvPresent,Date,Species,Trap,Latitude,Longitude,Yr,Mo,Week,...,Park2,Park3,Park4,Park5,Water0,Water1,Water2,Water3,Water4,Water5
0,1,0,2007-05-29,CULEX PIPIENS/RESTUANS,T048,41.867108,-87.654224,2007,5,22,...,29715.14289,67489.311127,61468.115233,3092.465154,3.82796,0.108809,-1.189728,-0.10479,0.184891,0.114866
1,2,0,2007-05-29,CULEX RESTUANS,T048,41.867108,-87.654224,2007,5,22,...,29715.14289,67489.311127,61468.115233,3092.465154,3.82796,0.108809,-1.189728,-0.10479,0.184891,0.114866

In [44]:
df_a.columns

Index(['NumMosquitos', 'WnvPresent', 'Date', 'Species', 'Trap', 'Latitude',
       'Longitude', 'Yr', 'Mo', 'Week', 'Location', 'CULEX PIPIENS',
       'CULEX PIPIENS/RESTUANS', 'CULEX RESTUANS', 'CULEX SALINARIUS',
       'CULEX TERRITANS', 'CULEX TARSALIS', 'CULEX ERRATICUS', 'DewPointamax',
       'DewPointamin', 'DewPointmean', 'StnPressureamax', 'StnPressureamin',
       'StnPressuremean', 'AvgSpeedamax', 'AvgSpeedamin', 'AvgSpeedmean',
       'temp_max', 'temp_min', 'temp_avg', 'temp_expected', 'temp_diff',
       'sunset', 'precip_total', 'precip_avg', 'Park0', 'Park1', 'Park2',
       'Park3', 'Park4', 'Park5', 'Water0', 'Water1', 'Water2', 'Water3',
       'Water4', 'Water5'],
      dtype='object')

### Spray

In [192]:
spray = pd.read_csv('./input/spray.csv')

spray['Date'] = pd.to_datetime(spray['Date'])

spray['Location'] = [(spray.loc[idx,'Longitude'], spray.loc[idx,'Latitude'])
                  for idx in spray.index]

spray = spray.drop(['Time'], axis = 'columns')

spray.shape

(14835, 4)

In [193]:
spray.head()

        Date   Latitude  Longitude                         Location
0 2011-08-29  42.391623 -88.089163  (-88.0891633333, 42.3916233333)
1 2011-08-29  42.391348 -88.089163  (-88.0891633333, 42.3913483333)
2 2011-08-29  42.391022 -88.089157  (-88.0891566667, 42.3910216667)
3 2011-08-29  42.390637 -88.089158  (-88.0891583333, 42.3906366667)
4 2011-08-29  42.390410 -88.088858       (-88.0888583333, 42.39041)

In [206]:
sdu=spray.Date.unique()
sdu

array(['2011-08-29T00:00:00.000000000', '2011-09-07T00:00:00.000000000',
       '2013-07-17T00:00:00.000000000', '2013-07-25T00:00:00.000000000',
       '2013-08-08T00:00:00.000000000', '2013-08-15T00:00:00.000000000',
       '2013-08-16T00:00:00.000000000', '2013-08-22T00:00:00.000000000',
       '2013-08-29T00:00:00.000000000', '2013-09-05T00:00:00.000000000'], dtype='datetime64[ns]')

### Spray Categorical

In [198]:
list(spray[spray['Date'] ==sdu[0]]['Location'])

[(-88.089163333333303, 42.3916233333333),
 (-88.089163333333303, 42.391348333333298),
 (-88.089156666666696, 42.391021666666703),
 (-88.089158333333302, 42.390636666666701),
 (-88.088858333333306, 42.390409999999996),
 (-88.088315000000009, 42.390394999999998),
 (-88.088001666666699, 42.390673333333297),
 (-88.088001666666699, 42.391026666666704),
 (-88.088003333333305, 42.391403333333294),
 (-88.087994999999992, 42.391718333333294),
 (-88.0879883333333, 42.392038333333296),
 (-88.0880783333333, 42.392409999999998),
 (-88.088331666666704, 42.392800000000001),
 (-88.088369999999998, 42.393256666666701),
 (-88.088231666666701, 42.393599999999999),
 (-88.088416666666703, 42.393203333333297),
 (-88.088311666666698, 42.392791666666703),
 (-88.088210000000004, 42.392476666666703),
 (-88.088696666666692, 42.392384999999997),
 (-88.089113333333302, 42.392098333333294),
 (-88.089498333333296, 42.392179999999996),
 (-88.089790000000008, 42.392428333333299),
 (-88.090041666666693, 42.392721666666702),
 (-88.090299999999999, 42.392958333333297),
 (-88.090894999999989, 42.392990000000005),
 (-88.091611666666694, 42.393001666666706),
 (-88.092010000000002, 42.393008333333299),
 (-88.092548333333298, 42.39302),
 (-88.093181666666695, 42.393103333333293),
 (-88.0937366666667, 42.393118333333298),
 (-88.093894999999989, 42.393423333333295),
 (-88.094075000000004, 42.393743333333298),
 (-88.094250000000002, 42.394104999999996),
 (-88.094223333333304, 42.394478333333296),
 (-88.094198333333296, 42.394859999999994),
 (-88.094515000000001, 42.395084999999995),
 (-88.095026666666698, 42.395094999999998),
 (-88.095519999999993, 42.395078333333295),
 (-88.095771666666693, 42.395351666666706),
 (-88.095833333333303, 42.395696666666701),
 (-88.095756666666702, 42.395983333333298),
 (-88.095685000000003, 42.395218333333297),
 (-88.095555000000004, 42.3949316666667),
 (-88.095596666666694, 42.3946166666667),
 (-88.095600000000005, 42.394290000000005),
 (-88.095484999999996, 42.393956666666703),
 (-88.095371666666693, 42.393673333333297),
 (-88.095221666666703, 42.393331666666704),
 (-88.095143333333297, 42.393036666666703),
 (-88.095138333333296, 42.3926466666667),
 (-88.095140000000001, 42.392348333333295),
 (-88.095455000000001, 42.392236666666705),
 (-88.095980000000012, 42.392246666666701),
 (-88.096435, 42.392463333333296),
 (-88.096444999999989, 42.392838333333295),
 (-88.096446666666694, 42.393193333333294),
 (-88.096266666666693, 42.393488333333295),
 (-88.095916666666696, 42.393603333333296),
 (-88.095593333333298, 42.393678333333298),
 (-88.095148333333299, 42.392526666666704),
 (-88.095163333333304, 42.392196666666706),
 (-88.095140000000001, 42.391860000000001),
 (-88.095143333333297, 42.391518333333295),
 (-88.095203333333302, 42.391296666666705),
 (-88.095608333333303, 42.391275),
 (-88.096035000000001, 42.391269999999999),
 (-88.096468333333306, 42.391238333333298),
 (-88.096436666666705, 42.390951666666702),
 (-88.096440000000001, 42.390641666666703),
 (-88.096443333333298, 42.390335),
 (-88.096435, 42.390048333333297),
 (-88.096258333333296, 42.389870000000002),
 (-88.095878333333303, 42.389866666666705),
 (-88.095486666666702, 42.389858333333294),
 (-88.09508000000001, 42.389854999999997),
 (-88.094666666666697, 42.389843333333296),
 (-88.094218333333302, 42.389834999999998),
 (-88.093909999999994, 42.389711666666706),
 (-88.093894999999989, 42.38946),
 (-88.093833333333308, 42.389721666666702),
 (-88.094905000000011, 42.389856666666702),
 (-88.095155000000005, 42.390066666666705),
 (-88.095143333333297, 42.390570000000004),
 (-88.095145000000002, 42.3909533333333),
 (-88.0951533333333, 42.391224999999999),
 (-88.095155000000005, 42.391531666666701),
 (-88.095171666666701, 42.391855),
 (-88.094969999999989, 42.3929883333333),
 (-88.094515000000001, 42.393053333333299),
 (-88.094055000000012, 42.393093333333297),
 (-88.0938533333333, 42.392901666666702),
 (-88.093866666666699, 42.392586666666702),
 (-88.093873333333306, 42.392308333333297),
 (-88.093766666666696, 42.3921833333333),
 (-88.093846666666693, 42.392508333333296)]

In [200]:
data = df

In [234]:
spray_dict.keys()

dict_keys([datetime.date(2011, 8, 29), datetime.date(2011, 9, 7), datetime.date(2013, 7, 17), datetime.date(2013, 7, 25), datetime.date(2013, 8, 8), datetime.date(2013, 8, 15), datetime.date(2013, 8, 16), datetime.date(2013, 8, 22), datetime.date(2013, 8, 29), datetime.date(2013, 9, 5)])

In [245]:
close = []
for l in uniqueLocs:
    if spray_dict[pd.to_datetime(sdu[1]).date()].query(l,1)[0]*69<.1:
        close.append(l)
for l in close:
    print(l)
    td = data[data['Location']==l]['Date'].unique()
    for d in td:
        print(pd.Timedelta(d-sdu[1]))

(-87.795585000000003, 41.999128999999996)
-1562 days +00:00:00
-1555 days +00:00:00
-1534 days +00:00:00
-1531 days +00:00:00
-1519 days +00:00:00
-1512 days +00:00:00
-1503 days +00:00:00
-1498 days +00:00:00
-1492 days +00:00:00
-1484 days +00:00:00
-1478 days +00:00:00
-1475 days +00:00:00
-1464 days +00:00:00
-1450 days +00:00:00
-1444 days +00:00:00
-1434 days +00:00:00
(-87.811506000000008, 42.011600999999999)
-1555 days +00:00:00
-1534 days +00:00:00
-1531 days +00:00:00
-1528 days +00:00:00
-1519 days +00:00:00
-1512 days +00:00:00
-1503 days +00:00:00
-1498 days +00:00:00
-1492 days +00:00:00
-1484 days +00:00:00
-1478 days +00:00:00
-1475 days +00:00:00
-1464 days +00:00:00
-1450 days +00:00:00
-1444 days +00:00:00
-1434 days +00:00:00
-827 days +00:00:00
-817 days +00:00:00
-810 days +00:00:00
-803 days +00:00:00
-793 days +00:00:00
-789 days +00:00:00
-782 days +00:00:00
-775 days +00:00:00
-768 days +00:00:00
-761 days +00:00:00
-743 days +00:00:00
-741 days +00:00:00
-720 days +00:00:00
-712 days +00:00:00
(-87.807276999999999, 42.009875999999998)
-26 days +00:00:00
-19 days +00:00:00
-12 days +00:00:00
-6 days +00:00:00
5 days 00:00:00
9 days 00:00:00
16 days 00:00:00
23 days 00:00:00
639 days 00:00:00
646 days 00:00:00
653 days 00:00:00
659 days 00:00:00
670 days 00:00:00
674 days 00:00:00
681 days 00:00:00
687 days 00:00:00
694 days 00:00:00
701 days 00:00:00
708 days 00:00:00
715 days 00:00:00
722 days 00:00:00
730 days 00:00:00
736 days 00:00:00
743 days 00:00:00
750 days 00:00:00

In [276]:
spray.groupby('Date')['Location'].count()

Date
2011-08-29      95
2011-09-07    2114
2013-07-17    2202
2013-07-25    1607
2013-08-08    1195
2013-08-15    2668
2013-08-16     141
2013-08-22    1587
2013-08-29    2302
2013-09-05     924
Name: Location, dtype: int64

In [275]:
spray['Date'].dt.date.unique()

array([datetime.date(2011, 8, 29), datetime.date(2011, 9, 7),
       datetime.date(2013, 7, 17), datetime.date(2013, 7, 25),
       datetime.date(2013, 8, 8), datetime.date(2013, 8, 15),
       datetime.date(2013, 8, 16), datetime.date(2013, 8, 22),
       datetime.date(2013, 8, 29), datetime.date(2013, 9, 5)], dtype=object)

In [278]:
spray_dict = {}

for d in spray['Date'].dt.date.unique():
    print(len(spray[spray['Date']==d]))
    spray_dict[d] = cKDTree( list(spray[spray['Date'] >= d ]['Location']) )

#def nearSpray(data, spray_dict, dist = .2):
toRet = []
dist = .5
spray_dates = list(spray_dict.keys())
spray_dates.sort(reverse = True)
firstSpray = spray_dates[-1]


for sDate in spray_dates:
    print(sDate)
    close = []
    for loc in data['Location'].unique():
        if spray_dict[sDate].query(loc,1)[0]*69 < dist:
            close.append(loc)
    print(len(close))
    for loc in close:
        td = data[data['Location'] == loc]['Date'].unique()
        for d in td:
            d = pd.to_datetime(d).date()
            
            if ((d - sDate < pd.Timedelta(0)) &
                    (d-sDate > pd.Timedelta(days=-8))):
                #print(d - sDate)
                toRet.append((loc, d, 'before'))
            if ((d - sDate > pd.Timedelta(0)) &
                    (d-sDate < pd.Timedelta(days=10))):
                toRet.append((loc, d, 'after'))

95
2114
2202
1607
1195
2668
141
1587
2302
924
2013-09-05
3
2013-08-29
9
2013-08-22
17
2013-08-16
19
2013-08-15
29
2013-08-08
32
2013-07-25
36
2013-07-17
45
2011-09-07
49
2011-08-29
49

In [288]:
df_w.columns

Index(['NumMosquitos', 'WnvPresent', 'Date', 'Species', 'Trap', 'Latitude',
       'Longitude', 'Yr', 'Mo', 'Week', 'Location', 'CULEX PIPIENS',
       'CULEX PIPIENS/RESTUANS', 'CULEX RESTUANS', 'CULEX SALINARIUS',
       'CULEX TERRITANS', 'CULEX TARSALIS', 'CULEX ERRATICUS', 'DewPointamax',
       'DewPointamin', 'DewPointmean', 'StnPressureamax', 'StnPressureamin',
       'StnPressuremean', 'AvgSpeedamax', 'AvgSpeedamin', 'AvgSpeedmean',
       'temp_max', 'temp_min', 'temp_avg', 'temp_expected', 'temp_diff',
       'sunset', 'precip_total', 'precip_avg'],
      dtype='object')

In [302]:

df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8475 entries, 0 to 8474
Data columns (total 36 columns):
NumMosquitos              8475 non-null int64
WnvPresent                8475 non-null int32
Date                      8475 non-null object
Species                   8475 non-null object
Trap                      8475 non-null object
Latitude                  8475 non-null float64
Longitude                 8475 non-null float64
Yr                        8475 non-null int64
Mo                        8475 non-null int64
Week                      8475 non-null int64
Location                  8475 non-null object
CULEX PIPIENS             8475 non-null int32
CULEX PIPIENS/RESTUANS    8475 non-null int32
CULEX RESTUANS            8475 non-null int32
CULEX SALINARIUS          8475 non-null int32
CULEX TERRITANS           8475 non-null int32
CULEX TARSALIS            8475 non-null int32
CULEX ERRATICUS           8475 non-null int32
DewPointamax              8475 non-null int64
DewPointamin              8475 non-null int64
DewPointmean              8475 non-null float64
StnPressureamax           8475 non-null float64
StnPressureamin           8475 non-null float64
StnPressuremean           8475 non-null float64
AvgSpeedamax              8475 non-null float64
AvgSpeedamin              8475 non-null float64
AvgSpeedmean              8475 non-null float64
temp_max                  8475 non-null int64
temp_min                  8475 non-null int64
temp_avg                  8475 non-null float64
temp_expected             8475 non-null float64
temp_diff                 8475 non-null float64
sunset                    8475 non-null float64
precip_total              8475 non-null float64
precip_avg                8475 non-null float64
Spray                     0 non-null object
dtypes: float64(15), int32(8), int64(8), object(5)
memory usage: 2.1+ MB

In [306]:
df2=df_w
df2['Date'] = [pd.to_datetime(d) for d in df2['Date']]
df2 = df2.merge(tr, left_on = ['Location', 'Date'], right_on = ['Location','Date'], how = 'left')
df2[(df2['Location'] == tr.loc[0,'Location']) & (df2['Date'] == tr.loc[0,'Date'])]
df2.Spray.describe()

count       594
unique        2
top       after
freq        339
Name: Spray, dtype: object

In [307]:
import pickle
with open('sdf.pickle', 'wb') as f:
    pickle.dump(df2, f, protocol = 0)

In [305]:
tr =pd.DataFrame(toRet)
tr.columns = ['Location','Date','Spray']
tr['Date'] = [pd.to_datetime(d) for d in tr['Date']]
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 3 columns):
Location    297 non-null object
Date        297 non-null datetime64[ns]
Spray       297 non-null object
dtypes: datetime64[ns](1), object(2)
memory usage: 7.0+ KB

In [279]:
spray_dict = {}

for d in spray['Date'].dt.date.unique():
    spray_dict[d] = cKDTree( list(spray[spray['Date'] == d ]['Location']) )

def nearSpray(data, spray_dict, dist = .2):
    toRet = {}

    spray_dates = list(spray_dict.keys())
    spray_dates.sort(reverse = True)
    firstSpray = spray_dates[-1]

    for l in data['Location'].unique():
        toRet[l] = {}
        trapDates = data[ data['Location'] ==l]['Date'].unique()

        trapDates = [pd.Timestamp(d).date() for d in trapDates]
        trapDates.sort()

        if trapDates[-1] > firstSpray:
            for tDate in trapDates:
                before, after = False, False
                for sDate in spray_dates:



                    if ((tDate - sDate < pd.Timedelta(0)) &
                    (tDate-sDate > pd.Timedelta(days=-10))):
                        #print('yes')
                        #print(spray_dict[sDate].query(l,1)[0]*69)
                        if (spray_dict[sDate].query(l,1)[0]*69 < dist):
                            #print('yes')
                            before = True

                    if ((tDate - sDate > pd.Timedelta(0)) &
                    (tDate-sDate < pd.Timedelta(days=10)) & 
                   (spray_dict[sDate].query(l,1)[0]*69 < dist)):
                        #print('hi')
                        after = True

                toRet[l][tDate] = (before, after)

                toRet2 = {}
                for k1 in toRet:
                    for k2 in toRet[k1]:
                        toRet2[(k1,k2)] = toRet[k1][k2]

    df = pd.DataFrame().from_dict(toRet2).transpose()
    df.columns = ['SprayBefore', 'SprayAfter']
    df['Location'] = df.index.map(lambda x: x[0])
    df['Date'] = df.index.map(lambda x: x[1])
    df.index = range(0,len(df))
                
    return df
nearspray = nearSpray(df, spray_dict)
nearspray.shape

(3847, 4)

In [280]:
nearspray['SprayAfter'].sum()

22

In [214]:
uniqueLocs = data['Location'].unique()
ul = uniqueLocs[0]
ul

(-87.654223999999999, 41.867108000000002)

In [216]:
trapDates = data[ data['Location'] ==ul]['Date'].unique()

In [220]:

trapDates = [pd.Timestamp(d).date() for d in trapDates]
trapDates.sort()
trapDates[-1]> firstSpray

True

array(['2011-08-29T00:00:00.000000000', '2011-09-07T00:00:00.000000000',
       '2013-07-17T00:00:00.000000000', '2013-07-25T00:00:00.000000000',
       '2013-08-08T00:00:00.000000000', '2013-08-15T00:00:00.000000000',
       '2013-08-16T00:00:00.000000000', '2013-08-22T00:00:00.000000000',
       '2013-08-29T00:00:00.000000000', '2013-09-05T00:00:00.000000000'], dtype='datetime64[ns]')

In [226]:
for d in sdu:
    print(pd.to_datetime(trapDates[-1]) - pd.to_datetime(d)> pd.Timedelta(days = 22))

True
True
True
True
True
True
True
True
True
False

In [211]:
df['SprayBefore'].sum()

9

In [205]:
firstSpray

datetime.date(2011, 8, 29)

In [204]:
data.head(2)

,NumMosquitos,WnvPresent,Date,Species,Trap,Latitude,Longitude,Yr,Mo,Week,Location,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TERRITANS,CULEX TARSALIS,CULEX ERRATICUS
0,1,0,2007-05-29,CULEX PIPIENS/RESTUANS,T048,41.867108,-87.654224,2007,5,22,"(-87.654224, 41.867108)",0,1,0,0,0,0,0
1,2,0,2007-05-29,CULEX RESTUANS,T048,41.867108,-87.654224,2007,5,22,"(-87.654224, 41.867108)",0,0,1,0,0,0,0

In [178]:
nearspray.head(10)

   SprayBefore  SprayAfter                      Loc       Date
0        False       False  (-87.930995, 41.957799) 2009-06-03
1        False       False  (-87.930995, 41.957799) 2009-06-05
2        False       False  (-87.930995, 41.957799) 2009-06-15
3        False       False  (-87.930995, 41.957799) 2009-06-22
4        False       False  (-87.930995, 41.957799) 2009-06-29
5        False       False  (-87.930995, 41.957799) 2009-07-13
6        False       False  (-87.930995, 41.957799) 2009-07-17
7        False       False  (-87.930995, 41.957799) 2009-07-27
8        False       False  (-87.930995, 41.957799) 2009-07-31
9        False       False  (-87.930995, 41.957799) 2009-08-07

In [163]:
mask = (df_w['Date'].dt.year == 2011) | (df_w['Date'].dt.year ==2013)
df_s = df_w.loc[mask]

#df_s = df_s.merge(nearspray)

In [179]:
nearspray.SprayBefore.sum()

19

In [162]:
df_w.shape

(8475, 35)

In [171]:
df_s = df_s.merge(nearspray, left_on = ['Location','Date'], right_on = ['Loc','Date'])

In [175]:
df_s['SprayAfter'].sum()

23

In [164]:
df_s.shape

(3785, 35)

In [191]:
df_a.Location

0       (-87.654224, 41.867108)
1       (-87.654224, 41.867108)
25      (-87.654224, 41.867108)
26      (-87.654224, 41.867108)
27      (-87.654224, 41.867108)
87      (-87.654224, 41.867108)
204     (-87.654224, 41.867108)
284     (-87.654224, 41.867108)
285     (-87.654224, 41.867108)
417     (-87.654224, 41.867108)
418     (-87.654224, 41.867108)
578     (-87.654224, 41.867108)
579     (-87.654224, 41.867108)
671     (-87.654224, 41.867108)
672     (-87.654224, 41.867108)
1016    (-87.654224, 41.867108)
1017    (-87.654224, 41.867108)
1228    (-87.654224, 41.867108)
1229    (-87.654224, 41.867108)
1230    (-87.654224, 41.867108)
1484    (-87.654224, 41.867108)
1485    (-87.654224, 41.867108)
1727    (-87.654224, 41.867108)
1728    (-87.654224, 41.867108)
2101    (-87.654224, 41.867108)
2220    (-87.654224, 41.867108)
2221    (-87.654224, 41.867108)
2415    (-87.654224, 41.867108)
2416    (-87.654224, 41.867108)
2584    (-87.654224, 41.867108)
                 ...
8002    (-87.770899, 41.994679)
8003    (-87.770899, 41.994679)
8118    (-87.770899, 41.994679)
8119    (-87.770899, 41.994679)
8244    (-87.770899, 41.994679)
8351    (-87.770899, 41.994679)
5995    (-87.695443, 41.738903)
6110    (-87.695443, 41.738903)
6229    (-87.695443, 41.738903)
6115    (-87.707394, 41.753391)
6116    (-87.707394, 41.753391)
6117    (-87.707394, 41.753391)
6231    (-87.707394, 41.753391)
6232    (-87.707394, 41.753391)
6330    (-87.707394, 41.753391)
6331    (-87.707394, 41.753391)
6919     (-87.669539, 41.71914)
6920     (-87.669539, 41.71914)
7050     (-87.669539, 41.71914)
7177     (-87.669539, 41.71914)
7178     (-87.669539, 41.71914)
7513     (-87.63359, 41.925652)
7667     (-87.63359, 41.925652)
7668     (-87.63359, 41.925652)
7807     (-87.63359, 41.925652)
7808     (-87.63359, 41.925652)
7946     (-87.63359, 41.925652)
8063     (-87.63359, 41.925652)
8186     (-87.63359, 41.925652)
8302     (-87.63359, 41.925652)
Name: Location, Length: 8475, dtype: object

In [54]:
allDF = [df_w, df_a, df_s]
with open('allDF.pickle', 'wb') as f:
    pickle.dump(allDF, f, protocol = 0)